* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: left;
}

.card {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px lightgray;
    width: 300px;
    height: 350px;
    padding: 1rem;
    background-color: #333;
    color: #ddd;
}

.card img {
    margin: 0.5em 0;
    width: 100%;
    max-height: 180px;
}

.tags {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.badge {
    margin: 0 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.1em 0.3em;
}

.badge:hover {
    background-color: orange;
}